<ion-content [fullscreen]="true">
  <div id="container">
    <div class="d-flex justify-content-start">
      <img src="assets/img/sodimac_logo.png" height="30px" width="100px" />
    </div>

    <div class="centrro pt-5 ">
      <a [routerLink]="['/curp']"><ion-icon name="chevron-back" color="dark"></ion-icon><ion-label color="dark"
          position="stacked">Regresar</ion-label></a>
    </div>

    <div class="d-flex justify-content-center pt-3">
      <h2><b>Domicilio</b></h2>
    </div>

    
    <div class="d-flex justify-content-center pt-2">
      <p>Ahora ingresa los datos de tu domicilio. Por favor, aseg&uacute;rate que coincide con tu domicilio actual</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Calle*</ion-label>
            <ion-input [clearInput]="true" type="text" maxlength="10" required="true"></ion-input>
            <ion-note slot="error">campo requerido</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Num Exterior*</ion-label>
            <ion-input [clearInput]="true" type="text" maxlength="10" required="true"></ion-input>
            <ion-note slot="error">campo requerido</ion-note>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Num Interior</ion-label>
            <ion-input [clearInput]="true" type="text" maxlength="5"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Codigo Postal*</ion-label>
            <ion-input [clearInput]="true" type="text" maxlength="10" required="true"></ion-input>
            <ion-note slot="error">campo requerido</ion-note>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Colonia*</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="col1">Colonia1</ion-select-option>
              <ion-select-option value="col1">Colonia1</ion-select-option>
              <ion-select-option value="col1">Colonia1</ion-select-option>
              <ion-note slot="error">campo requerido</ion-note>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Municipio*</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="op1">Opcion 1</ion-select-option>
              <ion-select-option value="op2">Opcion 2</ion-select-option>
              <ion-select-option value="op3">Opcion 3</ion-select-option>
              <ion-note slot="error">campo requerido</ion-note>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Estado*</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="op1">Opcion 1</ion-select-option>
              <ion-select-option value="op2">Opcion 2</ion-select-option>
              <ion-select-option value="op3">Opcion 3</ion-select-option>
              <ion-note slot="error">campo requerido</ion-note>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>


    <div>
      <ion-button [routerLink]="['/authorization']" expand="block" color="dark" fill="solid">CONTINUAR</ion-button>
    </div>


  </div>
</ion-content>