<ion-content [fullscreen]="true">
  <div id="container">
    <div class="d-flex justify-content-start">
      <img src="assets/img/sodimac_logo.png" height="30px" width="100px" />
    </div>

    <div class="centrro pt-5 ">
      <a [routerLink]="['/home']"><ion-icon name="chevron-back"></ion-icon><ion-label
          position="stacked">Regresar</ion-label></a>
    </div>

    <div class="d-flex justify-content-center pt-3">
      <h2><b>Informaci&oacute;n personal</b></h2>
    </div>

    <div class="d-flex justify-content-center pt-2">
      <p>Ayudanos a completar tu informaci&oacute;n personal para verificar tu cuenta</p>
    </div>

    <ion-item>
      <ion-label position="floating">N&uacute;mero</ion-label>
      <ion-input [clearInput]="true" inputmode="numeric" type="tel" placeholder="+52 00-00-00-0000" maxlength="10"
        (keypress)="this.gService.ngPermite($event,'num')"></ion-input>
      <ion-note slot="helper">Proporcione un tel&eacute;fono v&aacute;lido</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electr&oacute;nico</ion-label>
      <ion-input [clearInput]="true" type="email" ngModel email placeholder="correo@empresa.com"></ion-input>
      <ion-note slot="helper">Proporcione un correo v&aacute;lido</ion-note>
      <ion-note slot="error">Formato incorrecto</ion-note>
    </ion-item>

    <ion-item lines="none">
      <ion-label><span>Acepto T&eacute;rminos, Condiciones y Aviso de Pr&iacute;vacidad.</span></ion-label>
      <ion-toggle slot="start" color="dark"></ion-toggle>
    </ion-item>

    <div class="d-flex justify-content-center pt-3">
      <p>¿Tienes una INE a la mano?</p>
    </div>

    <div>
      <ion-button [routerLink]="['/ine-front']" expand="block"  fill="solid">SI, CONTINUAR</ion-button>
    </div>

    <div class="pt-2">
      <ion-button [routerLink]="['/personal-information-full']" expand="block"   fill="solid">NO, CONTINUAR SIN INE</ion-button>
    </div>

  </div>
</ion-content>
