<ion-content [fullscreen]="true">
    <div id="container">
      <div class="d-flex justify-content-start">
        <img src="assets/img/sodimac_logo.png" height="30px" width="100px" />
      </div>
  
      <div class="centrro pt-5 ">
        <a [routerLink]="['/ine-front']"><ion-icon name="chevron-back" color="dark"></ion-icon><ion-label color="dark"
            position="stacked">Regresar</ion-label></a>
      </div>
  
  
      <div class="d-flex justify-content-center pt-3">
        <i class="bi bi-person-vcard-fill ine-image"></i>
      </div>
  
      <div class="d-flex justify-content-center pt-3">
        <h2><b>Favor de validar:</b></h2>
      </div>

      <div class="d-flex justify-content-center pt-3">
        <h4><b>¿Puedes leer los detalles?</b></h4>
      </div>

      <div class="d-flex justify-content-center">
        <h4><b>¿Puedes ver la identificaci&oacute;n completa?</b></h4>
      </div>
  
      <div class="pt-3">
        <ion-button [routerLink]="['/ine-back']" expand="block" color="dark" fill="solid">CONTINUAR</ion-button>
      </div>

      <div>
        <ion-button  expand="block" color="dark" fill="solid">VOLVER A TOMAR FOTO</ion-button>
      </div>
  
  
    </div>
  </ion-content>